$header: rgba(68, 229, 159, 0.97);
$font-color: rgba(255, 255, 255, 1);
$table: rgb(119, 119, 119);
$body-color: rgb(211, 156, 88,1);
$item-color: rgb(168, 82, 82,1);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $body-color;
}

%table-item {
  text-align: center;
  border: 1px solid $font-color;
  color: $font-color;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 14px;
}

.table {
  width: 1200px;
  margin: 120px auto;
  border-collapse: collapse;
  box-shadow: 0 0 5px $font-color;

  &-row {
    &-item {
      background-color: $header;
      @extend %table-item;
    }
    &-one{
      display: none;
      &-item {
        @extend %table-item;
      }
    }
    &-two{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      &-item {
        text-overflow: ellipsis;
        padding: 5px;
        background-color: $item-color;
        @extend %table-item;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .table {
    display: grid;
    grid-gap: 70px;
    padding: 50px;
    width: 100%;
    box-shadow: none;

    &-row-head {
      display: none;
    }

    &-row {
      display: flex;
      &-one {
        display: grid;
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        &-item {
          background-color: $header;
        }
      }
      &-two {
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        &-item {
          font-size: 12px;
        }
      }
    }
  }
}
