.div-buttons {
  display: flex;
  justify-content: center;
}

.buttons {
  width: 50px;
  height: 50px;
  margin: 10px 15px;
  cursor: pointer;
  border: 2px solid #adadad;
  &:hover{
    background-color: aquamarine;
  }
}
